<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">
<footer class>
    <p class="footer-name">Made by Abhinav</p>
    <div class="images">
        <img src="/img/GitHub.png" alt="" class="footer-image" onclick="window.location.href='https://github.com/0018abhinav'">
        <img src="/img/linkdlin.png" alt="" class="footer-image" onclick="window.location.href='https://www.linkedin.com/in/abhinav-verma-99a6641b6/'">
    </div>  
</footer>   